.container {
    display: flex;
    margin-bottom: 26px;
    justify-content: space-between;
}

.all {
    margin-left: 13px;
    margin-right: 13px;
    
}

.img-name{
    display: flex;
}

.name {

    color: #333333;
    font-weight: 800;
    font-size: 16px;


}

.star {
    display: flex;

}

.img {
    padding-left: 5px;
}

.ondate {
    padding:0 13px;
    font-weight: 400;
    font-size: 13px;
    color: #A1AAB7;
}

.paragraph1 {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    color: #333333;
}

.paraghraph2 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #333333;
}

.multipic {
    margin-bottom: 13px;
}


.paraghraph3 {
    font-weight: 400;
    font-size: 10px;
    color: #A1AAB7;
    margin-bottom: 8px;

}

.btn {
    border: 0.4px solid #A1AAB7;
    border-radius: 8px;
    width: 78px;
    height: 26px;
    background-color: white;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    color: #333333;
    margin-bottom:23px;
}
.line{ 
border: 0.5px solid #A1AAB7;
}