.container{
    margin-left: 41px;
    margin-right: 41px;
}

header {
    font-size: 22px;
    color: #333333;
}

.star {
    display: flex;
}
.img {
    padding-left: 9px;
}


.paragraph1 {
    font-size: 18px;
    color: #333333;
    padding-right: 12px;
    padding-left: 12px;
}

.paragraph2 {
    font-size: 18px;
    color: #A1AAB7;

}
.all{
    margin-left: 41px;
    margin-right: 41px;
}
.num1 {
    display: flex;
}
.star {
    padding-left:  7px;
}

   .count{
    font-size: 14px;
    color: #333333;
    font-weight: 500;
    padding-left: 15px;
    padding-right: 15px;
}

   


.btn {
    font-size: 12px;
    font-weight: 600;
    color: #333333;
    background-color: white;
    text-align: center;
    border: 0.509612px solid #A1AAB7;
    border-radius: 12px;
    width: 248px;
    height: 33px;
    margin-top:27px ;
  
}